.currency-converter-amount-form {
    width: 250px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
}

.currency-converter-amount-form label {
    align-self: flex-start;
    margin-bottom: 5px;
}

.currency-converter-amount-input {
    height: 35px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    font-size: medium;
}

.currency-converter-amount-input:focus {
    outline: 0;
    box-shadow: 0 0 0 2px dodgerblue;
}

@media all and (max-device-width: 600px) {
    .currency-converter-amount-form {
        margin-right: 0;
    }
}