@import "theme";

.App {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $base-background-color;

  h1 {
    background-color: $base-secondary-color;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
  }
}