@import "theme";

.App {
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    z-index: -1;
  }

  h1 {
    background-color: $base-secondary-color;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
  }
}
