.currency-converter {
    width: 70%;
    height: auto;
    padding: 50px 0;
    background-color: limegreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currency-converter-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.currency-converter-source {
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 50px;
}

.currency-converter-source .currency-converter-select-form {
    margin-bottom: 20px;
}

.currency-converter-target {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 50px;
}

.currency-converter-target-main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.currency-converter-target-other {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.currency-converter-date-picker-wrapper {
    width: 40%;
    margin-bottom: 20px;
}

.currency-converter-date-picker-wrapper label {
    align-self: flex-start;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: medium;
    color: blueviolet;
}

.currency-converter-action {
    margin-top: 20px;
}

.currency-converter-result {
    width: 90%;
    margin-top: 20px;
    text-align: center;
}

.currency-converter-add-button,
.currency-converter-remove-button {
    width: 75px;
    height: 30px;
    margin-left: 20px;
    color: white;
    font-size: small;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    background-color: blueviolet;
    align-self: flex-end;
}

.currency-converter-add-button:hover,
.currency-converter-remove-button:hover {
    cursor: pointer;
}

.currency-converter-add-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.currency-converter-swap-icon {
    width: 40px;
    height: 40px;
    margin: 25px 0 0 40px;
    align-self: flex-start;
}

.currency-converter-swap-icon:hover {
    cursor: pointer;
}

@media all and (max-device-width: 600px) {
    .currency-converter-target-main,
    .currency-converter-target-other {
        flex-direction: column;
    }
    .currency-converter-add-button,
    .currency-converter-remove-button {
        margin-top: 10px;
    }
    .currency-converter-date-picker-wrapper {
        width: 60%;
    }
    .currency-converter-swap-icon {
        margin: 0;
    }
}

@media all and (max-device-width: 660px) {
    .currency-converter {
        width: 100%;
    }
}