@import "theme";

.currency-converter-dropdown-form {
  width: 250px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  label {
    align-self: flex-start;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: $base-font-size;
    color: $base-secondary-color;
  }

  &-select {
    width: 250px;
    height: 35px;
    border-radius: $base-border-radius;
    border: none;
    padding: 0 10px;
    font-size: $base-font-size;

    &:focus {
      @include outline;
    }
  }
}
